<div (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()" id="side-menu">
    <div id="mini-sidebar-menu" class="mini-sidebar-menu">
        <ul class="menus-list" id="sideMenuList">
            <ng-container *ngFor="let sidebar of sidebarList; let _i = index">
                <li class="side-menu" *ngIf="sidebar.display" (click)="getSidebarMenus(sidebar.label)"
                    id="dashboardMenusBtn" [ngClass]="{'active': heading === sidebar.label}"
                    title="{{sidebar.tooltip}}">
                    <a href="javascript:void(0);">
                        <ng-container [ngSwitch]="sidebar.key">
                            <ng-container *ngSwitchCase="'home'">
                                <span class='sidebar-icon dashboard'><i class="fa fa-home"
                                        aria-hidden="true"></i></span>
                            </ng-container>
                            <ng-container *ngSwitchCase="'ticketList'">
                                <span class='sidebar-icon opportunity'><i class="fa fa-list"
                                        aria-hidden="true"></i></span>
                            </ng-container>
                            <ng-container *ngSwitchCase="'siteVisit'">
                                <span class='sidebar-icon opportunity'><i class="fa fa-plus"
                                        aria-hidden="true"></i></span>
                            </ng-container>
                            <ng-container *ngSwitchCase="'purchaseOrders'">
                                <span class='sidebar-icon company'><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></span>
                            </ng-container>
                            <ng-container *ngSwitchCase="'deliveryChallan'">
                                <span class='sidebar-icon contact'><i class="fa fa-bars" aria-hidden="true"></i></span>
                            </ng-container>
                            <ng-container *ngSwitchCase="'products'">
                                <span class='sidebar-icon contact'>
                                    <!-- <i class="fa fa-tablet" aria-hidden="true"></i> -->
                                    <!-- <img src="assets/images/side-menu/product.svg"> -->
                                    <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                        viewBox="0 0 32 32">
                                        <defs>
                                            <style>
                                                .cls-1 {
                                                    fill: none;
                                                }
                                            </style>
                                        </defs>
                                        <title>product</title>
                                        <rect x="8" y="18" width="6" height="2" />
                                        <rect x="8" y="22" width="10" height="2" />
                                        <path
                                            d="M26,4H6A2.0025,2.0025,0,0,0,4,6V26a2.0025,2.0025,0,0,0,2,2H26a2.0025,2.0025,0,0,0,2-2V6A2.0025,2.0025,0,0,0,26,4ZM18,6v4H14V6ZM6,26V6h6v6h8V6h6l.0012,20Z" />
                                        <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;"
                                            class="cls-1" width="32" height="32" />
                                    </svg>
                                </span>
                            </ng-container>
                            <ng-container *ngSwitchCase="'receipts'">
                                <span class='sidebar-icon contact'>
                                    <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                        viewBox="0 0 32 32">
                                        <defs>
                                            <style>
                                                .cls-1 {
                                                    fill: none;
                                                }
                                            </style>
                                        </defs>
                                        <title>receipt</title>
                                        <rect x="21" y="16" width="2" height="2" />
                                        <rect x="9" y="16" width="8" height="2" />
                                        <rect x="21" y="12" width="2" height="2" />
                                        <rect x="9" y="12" width="8" height="2" />
                                        <rect x="9" y="8" width="14" height="2" />
                                        <path
                                            d="M25,2H7A2.002,2.002,0,0,0,5,4V29a1,1,0,0,0,1,1H7a.9987.9987,0,0,0,.8-.4L10,26.667,12.2,29.6a1.0353,1.0353,0,0,0,1.6,0L16,26.667,18.2,29.6a1.0353,1.0353,0,0,0,1.6,0L22,26.667,24.2,29.6a.9993.9993,0,0,0,.8.4h1a1,1,0,0,0,1-1V4A2.0023,2.0023,0,0,0,25,2Zm0,25.333L22.8,24.4a1.0353,1.0353,0,0,0-1.6,0L19,27.333,16.8,24.4a1.0353,1.0353,0,0,0-1.6,0L13,27.333,10.8,24.4a1.0353,1.0353,0,0,0-1.6,0L7,27.333V4H25Z" />
                                        <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;"
                                            class="cls-1" width="32" height="32" />
                                    </svg>
                                </span>
                            </ng-container>
                            <ng-container *ngSwitchCase="'materials'">
                                <span class='sidebar-icon contact'>
                                    <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                        viewBox="0 0 32 32">
                                        <defs>
                                            <style>
                                                .cls-1 {
                                                    fill: none;
                                                }
                                            </style>
                                        </defs>
                                        <title>inventory-management</title>
                                        <rect x="19" y="24" width="4" height="4" />
                                        <rect x="26" y="24" width="4" height="4" />
                                        <rect x="19" y="17" width="4" height="4" />
                                        <rect x="26" y="17" width="4" height="4" />
                                        <path
                                            d="M17,24H4V10H28v5h2V10a2.0023,2.0023,0,0,0-2-2H22V4a2.0023,2.0023,0,0,0-2-2H12a2.002,2.002,0,0,0-2,2V8H4a2.002,2.002,0,0,0-2,2V24a2.0023,2.0023,0,0,0,2,2H17ZM12,4h8V8H12Z" />
                                        <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;"
                                            class="cls-1" width="32" height="32" />
                                    </svg>
                                </span>
                            </ng-container>
                            <ng-container *ngSwitchCase="'repair'">
                                <span class='sidebar-icon contact'><i class="fa fa-wrench"
                                        aria-hidden="true"></i></span>
                            </ng-container>
                            <ng-container *ngSwitchCase="'configurations'">
                                <span class='sidebar-icon configurations'><i class="fa fa-home"
                                        aria-hidden="true"></i></span>
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                                <em class="{{ sidebar.icon }}"></em>
                            </ng-container>
                        </ng-container>
                        <span class="indication">{{ sidebar.label }}</span>
                    </a>
                </li>
            </ng-container>
        </ul>
        <div *ngIf="configurationsList">
            <ul class="mb-0" *ngIf="configurationsList.display">
                <li class="side-menu" (click)="getSidebarMenus(configurationsList.label)"
                    [ngClass]="{'active': heading === configurationsList.label}" title="{{configurationsList.tooltip}}">
                    <a href="javascript:void(0);">
                        <span class='sidebar-icon configurations'></span>
                        <br><span class="indication">{{ configurationsList.label }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>