.form-height {
      max-height: calc(100vh - 9rem);
      overflow-y: auto;
      margin-bottom: 40px !important;
  }
  
  
  .card-form-height{
      padding: 1rem;;
  }
  
  .calender{
      position: absolute;
      cursor: pointer;
      top: 34px;
      right: 2rem;
  }
  
  .invalid-feedback{
      color: #dc3545;
  }
  
  
  .invalid-feedback{
      display : block !important;
  
  }
  
  
  .bottom-btn{
      position: absolute;
      bottom: 0.5rem;
  }
  
  
  .receipt-height{
    height: calc(100vh - 6rem);
  }
  .indication {
    color: #888c9b;
    padding-top: 5px;
}