<div class="col-md-12 page-heading">
  <h5>User Setup</h5>
</div>

<div class="page-inner">

  <app-simple-table-with-pagination *ngIf="userTable?.tableData?.headerContent?.length > 0"
    (actionEmitter)="handleTableEmitter($event);" [tableDataWithActions]="userTable"
    [tableReloadEvent]="tableReloadSubject.asObservable()">
  </app-simple-table-with-pagination>
  
</div>

<app-confirmation-dialog *ngIf="showConfirmation" [confirmJson]="confirmJson"
  (actionPerformed)="actionPerformed($event)"> </app-confirmation-dialog>