<div class="page-inner" *ngIf="ticketDetails">
  <h5>Site Visit to {{ticketDetails.siteDetails.siteName?ticketDetails.siteDetails.siteName:''}}</h5>
  <hr>
  <div class="row">
    <div class="col-md-7" style="margin:auto;">
      <div class="center-align">
        <ul class="steps steps-">
          <li class="step"
            [ngClass]="{'active': activeTab==='ticketDetails' || activeTab==='updates' || activeTab ==='uploads' || activeTab ==='feedback' }">
            <a class="step-trigger"><span class="step-indicator step-indicator-icon"><i
                  class="fas fa-info-circle"></i></span> <span class="d-none d-sm-inline">Ticket Details</span></a>
          </li>
          <li class="step"
            [ngClass]="{'active': activeTab==='updates' || activeTab==='uploads' || activeTab ==='feedback'}">
            <a class="step-trigger"><span class="step-indicator step-indicator-icon"><i class="fas fa-tasks"></i></span>
              <span class="d-none d-sm-inline">Goal Updates</span></a>
          </li>
          <li class="step" [ngClass]="{'active': activeTab==='uploads' || activeTab==='feedback'}">
            <a class="step-trigger"><span class="step-indicator step-indicator-icon"><i
                  class="fas fa-file-upload"></i></span>
              <span class="d-none d-sm-inline">Document Uploads</span></a>
          </li>
          <li class="step" [ngClass]="{'active': activeTab==='feedback'}">
            <a class="step-trigger"><span class="step-indicator step-indicator-icon"><i
                  class="far fa-comments"></i></span>
              <span class="d-none d-sm-inline">Feedback</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8" style="margin:auto;">
      <br>
      <div class="form-card-engineer">
        <div *ngIf="activeTab === 'ticketDetails'">
          <div *ngIf="ticketDetails" style="margin:auto;">
            <div id="accordion1">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h6 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    <span> Ticket Details</span> <span class=" right-align"> <i class="fas fa-chevron-down"></i></span>
                  </h6>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion1">
                  <div class="card-body">
                    <label class="col-md-4">Ticket Id </label> <label class="col-md-4 label-class">
                      {{ticketDetails.ticketId}}</label><br>
                    <label class="col-md-4">Ticket Status</label> <label class="col-md-4 label-class">
                      {{statusParser(ticketDetails.ticketStatus)}}</label><br>
                    <label class="col-md-4">Created By</label> <label class="col-md-4 label-class">
                      {{ticketDetails.activityInfo.updatedBy}}</label><br>
                    <label class="col-md-4">Created Time</label> <label class="col-md-4 label-class">
                      {{ticketDetails.activityInfo.updatedTime  | amFromUtc | amLocal | amDateFormat:'MMMM Do YYYY, h:mm a'}}</label><br>
                    <label class="col-md-4">Purpose</label> <label class="col-md-4 label-class">
                      {{ticketDetails.general.purposeDescription}}</label><br>
                    <label class="col-md-4">Category</label> <label class="col-md-4 label-class">
                      {{ticketDetails.general.category}}</label><br>
                    <label class="col-4 ticket-label">Site Engineers</label>
                    <ng-container>
                      <label class="m-l-10">
                        <ng-container *ngFor="let name of ticketDetails.assignedEngineers">
                          <label class="label-class display-inline-block">{{ name }},&nbsp;</label>
                        </ng-container>
                      </label>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
            <div id="accordion3">
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h6 class="mb-0" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                    aria-controls="collapseThree">
                    <span> Site Details</span> <span class=" right-align"> <i class="fas fa-chevron-down"></i></span>
                  </h6>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion3">
                  <div class="card-body">
                    <label class="col-md-4">Site name</label> <label class="col-md-4 label-class">
                      {{ticketDetails.siteDetails.siteName}}</label><br>
                    <label class="col-md-4">State</label> <label class="col-md-4 label-class">
                      {{ticketDetails.siteDetails.state}}</label><br>
                    <label class="col-md-4">District</label> <label class="col-md-4 label-class">
                      {{ticketDetails.siteDetails.district}}</label><br>
                    <label class="col-md-4">Place </label> <label class="col-md-4 label-class">
                      {{ticketDetails.siteDetails.place}}</label><br>
                    <label class="col-md-4">Landmark </label> <label class="col-md-4 label-class">
                      {{ticketDetails.siteDetails.landmark}}</label><br>
                  </div>
                </div>
              </div>
            </div>
            <div id="accordion4" *ngIf="ticketDetails.keyGoals">
              <div class="card">
                <div class="card-header" id="headingFour">
                  <h6 class="mb-0" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                    aria-controls="collapseFour">
                    <span> Goals</span> <span class=" right-align"> <i class="fas fa-chevron-down"></i></span>
                  </h6>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion4">
                  <div class="card-body">
                    <ng-container *ngFor="let goal of ticketDetails.keyGoals; let i = index">
                      <div class="col-md-9 inline">
                        <label [ngClass]="{'completed': goal.status==='completed'}"> {{i+1}}. &nbsp;
                          {{goal.goal}}</label>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
            <div id="accordion5">
              <div class="card">
                <div class="card-header" id="headingFive">
                  <h6 class="mb-0" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
                    aria-controls="collapseFive">
                    <span> Material Required</span> <span class=" right-align"> <i
                        class="fas fa-chevron-down"></i></span>
                  </h6>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion5">
                  <div class="card-body">
                    <div *ngIf="ticketDetails.materialsRequired.length">
                      <div class="table-responsive">
                        <table class="table table-hover table-bordered table-material">
                          <thead>
                            <tr>
                              <th> S.No. </th>
                              <th> Material ID </th>
                              <th> Material name </th>
                              <th> Quantity </th>
                            </tr>
                          </thead>
                          <tr *ngFor="let row of ticketDetails.materialsRequired;let i = index">
                            <td> {{i+1}}</td>
                            <td>{{row.materialCode}}</td>
                            <td> {{row.materialName}}</td>
                            <td>{{row.quantity}}</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="accordion6">
                <div class="card">
                  <div class="card-header" id="headingSix">
                    <h6 class="mb-0" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true"
                      aria-controls="collapseSix">
                      <span>Site Contact</span> <span class=" right-align"> <i class="fas fa-chevron-down"></i></span>
                    </h6>
                  </div>
                  <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion6">
                    <div class="card-body">
                      <div *ngIf="ticketDetails.siteContact.length">
                        <div class="table-responsive">
                          <table class="table table-hover table-bordered table-responsive">
                            <thead>
                              <tr>
                                <th> S.No. </th>
                                <th> Name </th>
                                <th> Designation </th>
                                <th> Email </th>
                                <th> Mobile </th>
                              </tr>
                            </thead>
                            <tr *ngFor="let row of ticketDetails.siteContact;let i = index">
                              <td> {{i+1}}</td>
                              <td> {{row.name}} </td>
                              <td> {{row.designation}}</td>
                              <td> {{row.email}}</td>
                              <td> {{row.contactNo}} </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="activeTab === 'updates'">
          <div class="card">
            <div class="card-header">
              <label class="label-class p-10">Update Goal Status</label>
            </div>
            <div class="card-body">
              <div class="col-md-8 inline label-class"> Goals</div>
              <div class="col-md-3 inline label-class"> Status</div>
              <div class="col-md-1 inline label-class"> Notes</div>
              <ng-container *ngFor="let goal of ticketDetails.keyGoals;let i=index">
                <div class="hover-background">
                  <div class="col-md-8 inline">
                    <label [ngClass]="{'completed': goal.status==='completed'}">{{i+1}}. &nbsp; {{goal.goal}}</label>
                  </div>
                  <div class="col-md-3 inline">
                    <div class="p-10">
                      <ng-select placeholder="Set goal status" [items]="goalStatusList" [clearable]="false"
                        [multiple]="false" [(ngModel)]="goal.status" appendTo="body">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-1 inline">
                    <span class=" notes-icon inline" [autoClose]="'outside'" #p="ngbPopover" [ngbPopover]="popContent"
                      [popoverTitle]="popTitle" container="body">
                      <i *ngIf="goal.notes.length>0" class="fas fa-sticky-note action-icon"></i>
                      <i *ngIf="goal.notes.length===0" class="far fa-sticky-note action-icon"></i>
                    </span>
                    <ng-template #popContent>
                      <textarea class="pop-textarea form-control" rows="4" [(ngModel)]="goal.notes">
                              </textarea>
                      <span class="right-align" (click)="p.close()">Save <i class="far fa-save action-icon"></i></span>
                    </ng-template>
                    <ng-template #popTitle>Notes</ng-template>

                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div *ngIf="activeTab==='uploads'">
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
                <span>Upload Documents</span> <span class=" right-align"> </span>
              </h6>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 form-group">
                  <label>Description <span class="mandatory">*</span></label>
                  <input type="text" placeholder="Document Description" [(ngModel)]="documentDescription"
                    class="form-control">
                </div>
                <div class="col-md-4">
                  <label>Upload Attachment <span class="mandatory">*</span></label>
                  <input class="form-group form-control" type="file" accept="image/jpeg,image/png,application/pdf"
                    (change)="onFileChange($event)" placeholder="Select file">
                </div>
                <div class="col-md-4">
                  <button class="form-group btn btn-primary" style="margin-top: 22px;" (click)="uploadFile('doc')"
                    [disabled]="fileData==undefined">Upload</button> {{uploadMessage}}
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-hover table-bordered table-responsive">
                  <thead>
                    <tr>
                      <th> S.No. </th>
                      <th> File Name </th>
                      <th> Description </th>
                      <th> Uploaded Time </th>
                      <th> </th>
                    </tr>
                  </thead>
                  <tr *ngFor="let row of uploadFileDetails;let i = index">
                    <td> {{i+1}}</td>
                    <td> {{row.documentName}} </td>
                    <td> {{row.description ? row.description : 'NA'}} </td>
                    <td> {{row.uploadedTime | amLocale:'en' | amDateFormat:'Do MMMM YYYY, h:mm:ss a'}}</td>
                    <td>
                      <span class="display-inline-table " (click)="downloadFile(row.documentId)">
                        <i class="fas fa-download action-icon" aria-hidden="true"></i>
                      </span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
                <span>Upload MOM</span> <span class="mandatory"> * </span> <span class=" right-align"> </span>
              </h6>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <input class="form-group form-control" type="file" accept="image/jpeg,image/png,application/pdf"
                    (change)="onFileChangeMOM($event)" placeholder="Select file">
                </div>
                <div class="col-md-4">
                  <button class="form-group btn btn-primary" (click)="uploadFile('mom')"
                    [disabled]="fileDataMOM==undefined">Upload</button> {{uploadMessageMOM}}
                </div>
              </div>
              <div *ngIf="momData.documentId!=null" class="table-responsive">
                <table class="table table-hover table-bordered table-responsive">
                  <thead>
                    <tr>
                      <th> File Name </th>
                      <th> Uploaded Time </th>
                      <th> </th>
                    </tr>
                  </thead>
                  <tr>
                    <td> {{momData.documentName}} </td>
                    <td> {{momData.uploadedTime | amLocale:'en' | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}</td>
                    <td>
                      <span class="display-inline-table " (click)="downloadMOM(momData.documentId)">
                        <i class="fas fa-download action-icon" aria-hidden="true"></i>
                      </span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">
                <span>Return / Spare materials (if any)</span>
                <button class="btn btn-primary btn-transparent m-10 right-align m-b-16px" (click)="addMaterialRow()"
                  [disabled]="disableMaterialAdd"> Add <i class="fas fa-plus-circle"></i>
                </button>
              </h6>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table table-hover table-bordered table-material">
                      <thead>
                        <tr>
                          <th class="w-40"> Material name </th>
                          <th class="w-20"> Quantity </th>
                          <th class="w-25"> Device ID </th>
                          <th class="w-15"> </th>
                        </tr>
                      </thead>
                      <tr *ngFor="let row of matTableData; let i= index">
                        <td>
                          <ng-container *ngIf="row.new">
                            <div *ngIf="row.materialName != 'others'">
                              <ng-select placeholder="Select material" [items]="materialList" [clearable]="false"
                                [multiple]="false" bindLabel="name" bindValue="id" [(ngModel)]="row.materialName"
                                (ngModelChange)="selectMaterial(row, i)" appendTo="body" class="form-group-table-material">
                              </ng-select>
                            </div>
                            <div *ngIf="row.materialName == 'others'">
                              <input type="text" class="form-group-table form-control" [(ngModel)]="row.newMaterialName" />
                            </div>
                          </ng-container>
                        </td>
                        <td>
                          <div *ngIf="row.new">
                            <input type="number" class="form-group-table form-control" [(ngModel)]="row.quantity">
                          </div>
                        </td>
                        <td>
                          <div *ngIf="row.new">
                            <input type="text" class="form-group-table form-control" [(ngModel)]="row.deviceId" />
                          </div>
                        </td>
                        <td>
                          <span *ngIf="!row.new" class="display-inline-table " (click)="editMaterialRow(row)">
                            <i class="fa fa-pen action-icon" aria-hidden="true"></i>
                          </span>
                          <span class="display-inline-table " (click)="deleteMaterialRow(i)">
                            <i class="far fa-trash-alt action-icon " aria-hidden="true"></i>
                          </span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-body">
            <label>Select completed date<span class="mandatory">*</span> </label>
            <input placeholder="Select completed date" class="col-md-4 form-control" [(ngModel)]="completedDate"
              [max]="todayDate" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1">
            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
          </div>
        </div>
        <div *ngIf="activeTab === 'feedback'">
          <div class="card">
            <div class="card-header">
              <label class="label-class p-10">Feedback Form</label>
            </div>
            <div class="card-body">
              <div class="col-md-12">
                <div>
                  <div>
                    <div style="margin:auto;">
                      <div class="form-group">
                        <label class="weight-bold">How was your site vist ? Please rate <span
                            class="mandatory">*</span></label>
                        <bar-rating [(rate)]="rate" [max]="5" [theme]="'square'" [(ngModel)]="feedbackinfo.rating"
                          [showText]="minrating(feedbackinfo.rating)" [titles]="['Bad', 'Below Average' , 'Above Average', 'Good' , 'Excellent']"></bar-rating>
                      </div>
                      <div class="form-group">
                        <label class="weight-bold">Feedback Category <span class="mandatory">*</span></label>
                        <ng-select placeholder="Select Category..." [items]="feedbackCategoryList" [clearable]="false"
                          [multiple]="false" class="list-form" [(ngModel)]="feedbackinfo.categoryList"
                          [ngModelOptions]="{standalone: true}" [required]="true">
                        </ng-select>
                      </div>
                      <div class="form-group" *ngIf="feedbackinfo.categoryList === 'Others'">
                        <label class="weight-bold">Others <span class="mandatory">*</span></label>
                        <input type="text" placeholder="Enter Category" class="form-control"
                          [(ngModel)]="feedbackinfo.othercategory" name="othercategory" [required]="true">
                      </div>
                      <div class="form-group">
                        <label class="weight-bold">Subject <span class="mandatory">*</span></label>
                        <input type="text" placeholder="Subject" class="form-control" [(ngModel)]="feedbackinfo.subject"
                          name="subject" [required]="true">
                      </div>
                      <div class="form-group">
                        <label class="weight-bold">Faced any issues while site visit ?</label>
                        <input type="text" placeholder="Issues" class="form-control" [(ngModel)]="feedbackinfo.issues"
                          name="issues" [required]="true">
                      </div>
                      <div class="form-group">
                        <label class="weight-bold">Any suggestions for the next site engineer ?</label>
                        <input type="text" placeholder="Suggestions" class="form-control"
                          [(ngModel)]="feedbackinfo.suggestions" name="suggestions" [required]="true">
                      </div>
                      <div class="form-group">
                        <label class="weight-bold">Description <span class="mandatory">*</span></label>
                        <textarea class="form-group form-control" rows="4" placeholder="Description"
                          [(ngModel)]="feedbackinfo.description" name="description" [required]="true"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="col-md-8" style="margin:auto;">
    <button *ngIf=" activeTab === 'updates'" class="btn btn-primary m-10 right-align"
      (click)="saveState(activeTab);activeTab='uploads'" [disabled]="proceedDisabled">
      Next <i class="fas fa-arrow-circle-right"></i></button>
    <button *ngIf=" activeTab === 'ticketDetails' && ticketDetails.ticketStatus ==='visitScheduled'"
      class="btn btn-primary m-10 right-align" (click)="startVisitConfirmation()" [disabled]="startVisitDisable">
      Start Visit <i class="fas fa-arrow-circle-right"></i></button>
    <button *ngIf=" activeTab === 'ticketDetails' && ticketDetails.ticketStatus ==='onSite'"
      class="btn btn-primary m-10 right-align" (click)="activeTab ='updates'" [disabled]="startVisitDisable">
      Next <i class="fas fa-arrow-circle-right"></i></button>
    <button *ngIf=" activeTab === 'feedback'" (click)="finishVisitConfirmation()"
      class="btn btn-primary m-10 right-align" [disabled]="finishDisabled">
      Finish Visit</button>
    <button *ngIf=" activeTab === 'uploads'" class="btn btn-primary m-10 right-align" (click)="activeTab ='feedback'"
      [disabled]="startVisitDisable">
      Next <i class="fas fa-arrow-circle-right"></i></button>
    <button *ngIf=" activeTab != 'ticketDetails'" class="btn btn-primary m-10 right-align"
      (click)="activeTab==='feedback'?activeTab='uploads': ((activeTab==='uploads') ? activeTab='updates' : activeTab='ticketDetails')">
      <i class="fas fa-arrow-circle-left"></i> Previous
    </button>
    <button *ngIf=" activeTab == 'updates' " class="btn btn-primary m-10 right-align" (click)="saveState(activeTab)">
      Save</button>
  </div>
</div>

<app-confirmation-dialog *ngIf="showConfirmation" [confirmJson]="confirmJson"
  (actionPerformed)="actionPerformed($event)"> </app-confirmation-dialog>