.btn-export-excel{
    float: right;
    margin: 6px 6px;
    height: 2rem;
}

.icon-spacing {
    margin-right: 1rem;
    margin-left: -10px;
}

.material-heading {
    margin-top: 7px;
}

.table-scroll {
    tbody {
          display: block;
          overflow: auto;
          // overflow-y: auto;
          max-height: 390px;
    }
    
    thead,
    tbody tr {
          display: table;
          width: 100%;
          table-layout: fixed;
          /* even columns width , fix width of table too*/
    }
    
    thead {
        th {
            background-color: #d8d7d7;
            border-color: #d8d7d7;
        }
    }
    
    table {
          width: 100%;
    }
}
.table-scroll-raw {
    tbody {
          max-height: 122px;
    }
}
.label-text {
    font-weight: bold;
    font-size: 13px;
}